<div>
  <a href="#" (click)="onListClick()" class="list-group-item clearfix" style="border: 1px solid grey;background-color: aliceblue;" >
    <div class="pull-left" style="display: inline-block;">
      <h4 class="list-group-item-heading " >{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }} </p>
    </div>
    <span class="pull-right recipe_thumb_img">
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
    </span>
  </a><br>
</div>
