<div class="row">
  <div class="col-xs-12">
    <img src="" alt="imageAlt">
  </div>
</div>
<div class="row">
  <div class="col-lg-8 " style="display: inline-block;">
    <h3>Recipe Name</h3>
  </div>
  <div class="col-lg-4">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping list</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>description</h5>
      <h5>Ingredients</h5>
    </div>
  </div>
</div>
